.container-fluid {
  box-sizing: border-box;
  position: relative;
  left: 0;
  margin-top: 1%;
  background-color: black;
  width: 100%;
  padding: 1%;
  /* outline: solid white; */
}

.input_video {
  display: none;
  position: absolute;
  transform: scale(-1, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.output_canvas {
  border-radius: 1%;
  max-width: 75%;
  max-height: 100%;
  /* margin: 2% 1%; */
  display: block;
  position: relative;
  left: 0;
  top: 0;
  align-self: left;
}

.frame {
  /* background-color: #4a97ab; */
  align-items: left;
  width: 100%;
  max-height: 100%;
}

.App {
	background-color: black;
  align-items: left;
  width: 100%;
}