body {
  font-family: "Titillium Web", sans-serif;
  background-color: black;
  margin: 0;
  position: absolute;
  transform-origin: 0px 0px;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  color: white
}